@{
    ViewBag.Title = "Index";
}

<div class="row clearfix">
    <div class="container-fluid style-home" style="">
        <div class="block-header">
            <h2>ADMIN DASHBOARD</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Event" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-pink hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">email</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Events</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Schedule" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-purple">
                        <div class="icon">
                            <i class="material-icons">bookmark</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Schedules</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Task" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-deep-purple">
                        <div class="icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px; font-size:18px">Home Works</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Grade" style="text-decoration:none;">
                    <div class="info-box bg-blue hover-zoom-effect" style="cursor:pointer">
                        <div class="icon">
                            <i class="material-icons">devices</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px;">Grades</div>
                        </div>
                    </div>

                </a>
            </div>

        </div>
        <!-- #END# Counter Examples -->
        <!-- Hover Zoom Effect -->
        <div class="block-header">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Report" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-indigo">
                        <div class="icon">
                            <i class="material-icons">face</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Reports</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Activity" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-teal hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Activities</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Attendance" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">flight_takeoff</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Attendance</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Admin/Course" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-brown hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">devices</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Courses</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="block-header">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Account/AdminRegister" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-lime">
                        <div class="icon">
                            <i class="material-icons">brightness_low</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Admin Registration</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Account/ParentRegister" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-cyan hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">gps_fixed</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">Parent Registration</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Account/StudentRegister" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-deep-purple">
                        <div class="icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px; font-size:18px">Student Registration</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="/Account/SchoolRegister" style="text-decoration:none">
                    <div style="cursor:pointer" class="info-box bg-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">flight_takeoff</i>
                        </div>
                        <div class="content">
                            <div class="number" style="margin-top:13px;font-size:18px">School Registration</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
