
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:30px;">Schools</h2>

<div id="SchoolContainer"></div>

@section schoolJTable{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SchoolContainer').jtable({
                title: 'Table of Schools',
                actions: {
                    listAction: 'School/SchoolList',
                    createAction: 'School/AddSchool',
                    updateAction: 'School/UpdateSchool',
                    deleteAction: 'School/DeleteSchool'
                },
                fields: {
                    id: {
                        key: true,
                        list: false
                    },
                    email: {
                        title: 'Email',
                        width: '20%'
                    },
                    password: {
                        title: 'Password',
                        width: '20%',
                        list: false
                    },
                    confirmPassword: {
                        title: 'Confirm Password',
                        width: '20%',
                        list: false
                    },
                    schoolName: {
                        title: 'School Name',
                        width: '20%'
                    },
                    schoolAddress: {
                        title: 'School Address',
                        width: '20%'
                    },
                    mobile: {
                        title: 'Mobile',
                        width: '20%'
                    }
                },
                data:""
            });
            $('#SchoolContainer').jtable('load');
        });
    </script>
}


